body {background-color:black;font-family:arial;color:white;align:center;}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center;
    margin:auto;
}
.subdiv {
    align:center;
    width:100%;
}
.center { margin: auto; }


